<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Derivé | Viví tu experiencia</title>
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    <!-- Bootstrap core JS, jQuery, and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  
    <!--- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Roboto:400,900&display=swap" rel="stylesheet">
  
    <!-- Estilos propios para el sitio Derivé -->
    <link href="/css/derive.css" rel="stylesheet">
  
  </head>

<body>

<!-- NavBar -->
<%- include partials/navbar.ejs %>

<!-- Product Featured-->

<div class="container">
  <% if (product.destacado == 1) { %>
  <div class="row">
      <div class="col-md-12">
          <h4 class="experience-tittle">Hot This Week!</h4>
          <hr>
      </div>
  </div>
  <% } %>
  <div class="row">

  <!-- Product Content -->

  <div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
          <h3 class="experience-tittle"><%= product.name %></h3>
        </div>
        <div class="col-md-6">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="<%= product.img %>" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="<%= product.img2 %>" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="<%= product.img3 %>" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="<%= product.img4 %>" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="<%= product.img5 %>" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-3">
                    <!--<h3>Nombre de la Experiencia</h3>-->
                    <span class="text-muted font-weight-normal font-italic d-block" id="categoryName">Categoría: <%= product.category %></span>
                </div>
                <div class="col-md-6 col-sm-6">
                  <ul class="list-inline small how-many-stars">
                      <li class="list-inline-item m-0"><i class="far fa-star text-gray"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
                      <li class="list-inline-item m-0"><i class="fas fa-star text-success"></i></li>
                  </ul>
                </div>
                <div class="col-md-12 mb-3">
                    <p><%= product.description %></p>
                    <h6 class="font-weight-bold my-2">$<%= product.price %></h6>
                </div>
                <div class="col-md-12">
                  <a href="#" class="btn btn-primary">Vivir la Experiencia!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Product Content -->

  </div>
</div>

<!-- Product Featured-->

<!-- Footer -->
<%- include partials/footer.ejs %>

</body>

</html>
