<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Derivé | Viví tu experiencia</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap core JS, jQuery, and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!--- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Roboto:400,900&display=swap" rel="stylesheet">

    <!-- Estilos propios para el sitio Derivé -->
   <link href="/css/derive.css" rel="stylesheet">
    

</head>
<body>
    <!-- NavBar -->
    <%- include partials/navbar %>



    <div class="container">
      <div class="col-12 mx-auto text-center">
         <div class="header-title">
            <h1 class="wv-heading--title">
               Edite la información que deba ser modificada
            </h1>
         </div>
      </div>
      <div class="row">
         <div class="container">
         <div class="col-12 mx-auto">
            <div class="myform form">
               <form action="" method="POST" name="edit-product">
                  <div class="form-group">
                     <input type="text" name="name"  class="form-control my-input" value= "<%= product.name%>" id="name" placeholder="Nombre del Producto">
                  </div>
                  <div class="form-group">
                     <input type="text" name="price"  class="form-control my-input" value= "<%= product.price%>" id="price" placeholder="Valor/Precio">
                  </div>
                  <div class="form-group">
                     <input type="text" name="category"  class="form-control my-input" value= "<%= product.category%>" id="category" placeholder="Categoría">
                  </div>
                  <div class="form-group">
                     <input type="text" name="description"  class="form-control my-input" value= "<%= product.description%>" id="description" placeholder="Descripción">
                  </div>
                  <div class="form-group">
                     <input type="text" name="location"  class="form-control my-input" value= "<%= product.location%>" id="location" placeholder="Ubicación">
                  </div>
                  <div class="text-center ">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">Editar producto</button>
                  </div>
                  <br>
                  
               </form>
            </div>
         </div>
         </div>
      </div>
      <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" name="edit-product">
      <div class="text-center ">
         <button type="submit" class=" btn btn-danger">Eliminar producto</button>
      </div>
      </form>
   </div>

   <!-- Footer -->
   <%- include partials/footer %>
</body>
</html>