<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

    <body>

        <!-- NavBar -->
        <% if (isAuthenticated) { %>
            <%- include partials/newUserNavbar %>
                <% } else { %>
                    <%- include partials/navbar %>
                        <% } %>

                            <!-- Header -->
                            <%- include partials/headerContact %>

                                <!-- Contact Content -->

                                <div class="container">

                                    <% if (typeof msg != 'undefined') {%>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong><%= msg %></strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                    <%}%>

                                   
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="header-title">
                                                <h1 class="wv-heading--title">
                                                    Acerca de Derivé
                                                </h1>
                                                <h2 class="wv-heading--subtitle">

                                                    En Derivé llevamos mas de diez años brindando experiencias únicas e innovadoras. <br> Nuestra meta es que vivas al máximo cada momento, a través de placenteras propuestas creadas para explorar los sentidos.

                                                </h2> <br>

                                                <h2>eMail</h2>
                                                <p>info@derive.com</p>

                                                <h2>Telefono</h2>
                                                <p>+ 54 911 1234 5678</p>



                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="header-title">
                                                <h1 class="wv-heading--title">
                                                    Contacto
                                                </h1>
                                            </div>
                                            <form action= "/contact" method="POST">
                                            <div class="form-group">
                                                <label for="name">Nombre</label>
                                                <input type="text" name="name" class="form-control my-input" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Email</label>
                                                <input type="email" name="email" class="form-control my-input" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Comentarios</label>
                                                <textarea class="form-control my-input" name="description" rows="3" id="description" required="required"></textarea>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Suscribirme al Newsletter</label>
                                            </div>

                                            <div class="text-center ">
                                                <button type="submit" class=" btn btn-block send-button tx-tfm">Enviar</button>
                                            </div>
                                        </form>






                                        </div>




                                    </div>
                                </div>










                                <!-- Footer -->
                                <%- include partials/footerContact.ejs %>

    </body>

</html>