<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

<body>
  
  <!-- NavBar -->
  <%- include partials/navbar %>

  <!-- Header -->
  <%- include partials/header %>
  
  <div class="container">
    <div class="row">
      <!-- Landing Content -->
      <%- include partials/landingContent %>
    </div>
  </div>
                    
  <!-- Footer -->
  <%- include partials/footer %>
  
</body>

</html>
