<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

    <body>

        <!-- NavBar -->
        <% if (typeof locals.user != 'undefined') { %>
            <%- include partials/newUserNavbar %>
                <% } else { %>
                    <%- include partials/navbar %>
                        <% } %>

                            <!-- Product Featured-->
                            <%- include partials/productFeatured %>

                                <!-- Footer -->
                                <%- include partials/footer.ejs %>

    </body>

</html>