<!DOCTYPE html>
<html lang="en">
   
   <%- include partials/head %>

<body>
    <!-- NavBar -->
    <% if (isAuthenticated) {
      %> <%- include partials/newUserNavbar %> <%
    } else { %> 
    <%- include partials/navbar %>
    <% } %>



   <div class="container">
      <div class="col-12 mx-auto text-center">
         <div class="header-title">
            <h1 class="wv-heading--title">
               Edite la información que deba ser modificada
            </h1>
         </div>
      </div>
      <div class="row">
         <div class="container">
            <div class="col-12 mx-auto">
               <div class="myform form">
                  <% if(product){%>
                  <form action="/products/edit/<%=product.id%>?_method=put"  name="edit-product" method="POST">
                     <input type="hidden" name="_method" value="PUT" >
                     <div class="row">
                        <div class="col">
                           <div class="form-group">
                              <label for="name">Nombre del Producto</label>
                              <input type="text" name="name"  class="form-control my-input" value= "<%= product.name%>" id="name" placeholder="Ej: Escapada romántica">
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div class="form-group">
                              <label for="price">Valor/Precio</label>
                              <input type="text" name="price"  class="form-control my-input" value= "<%= product.price%>" id="price" placeholder="Ej: 1250">
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div class="form-group">
                              <label for="category">Categoría</label>
                              <select name="category"  class="form-control my-input" id="category" placeholder="Escapada">
                                 <% categories.forEach( category => {%>
                                    <% if (category.id == product.categories_id) { %>
                                       <option value = "<%=product.category.id%>" selected>
                                          <%=product.category.category%>
                                      </option>                                   
                                       <%} else { %>
                                          <option value = "<%=category.id%>">
                                             <%=category.category%>
                                         </option> 
                                          <% } %>                                                        
                                <% }) %>
                            </select>
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div class="form-group">
                              <label for="location">Ubicación</label>
                              <select name="location"  class="form-control my-input" id="location">
                                 <% locations.forEach(place => {%>
                                    <% if (place.id == product.location.id) { %>
                                       <option value = "<%=product.location.id%>" selected>
                                          <%=product.location.location%>
                                      </option>                                   
                                       <%} else { %>
                                          <option value = "<%=place.id%>">
                                             <%=place.location%>
                                         </option> 
                                          <% } %>                                                        
                                <% }) %>
                            </select>
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div class="form-group">
                              <label  for="description">Descripción</label>
                              <textarea type="text" name="description"  class="form-control my-input" value= "<%= product.description%>" id="description"  rows="5"><%=product.description%></textarea>
                           </div>
                           <div class= "dropdown-divider"> </div>
                           </div>
                           <div class="col">
                           <div>
                              <div class="row">
                                 <div class="col img-edit-col"><img src="<%=product.img%>" class="img-edit-content" alt="#"></div>
                                 <div class="col"><input type="text" name="img"  class="form-control my-input" id="img" placeholder="Imagen#1"></div>
                              </div>
                          </div>
                          <div class= "dropdown-divider"> </div>
                          <div>
                              <div class="row">
                                 <div class="col img-edit-col"><img src="<%=product.img2%>" class="img-edit-content" alt="#"></div>
                                 <div class="col"><input type="text" name="img2"  class="form-control my-input" id="img2" placeholder="Imagen#2"></div>
                              </div>
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div>
                              <div class="row">
                                 <div class="col img-edit-col"><img src="<%=product.img3%>" class="img-edit-content" alt="#"></div>
                                 <div class="col"><input type="text" name="img3"  class="form-control my-input" id="img3" placeholder="Imagen#3"></div>
                              </div>
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div>
                              <div class="row">
                                 <div class="col img-edit-col"><img src="<%=product.img4%>" class="img-edit-content" alt="#"></div>
                                 <div class="col"><input type="text" name="img4"  class="form-control my-input" id="img4" placeholder="Imagen#4"></div>
                              </div>
                           </div>
                           <div class= "dropdown-divider"> </div>
                           <div>
                              <div class="row">
                                 <div class="col img-edit-col"><img src="<%=product.img5%>" class="img-edit-content" alt="#"></div>
                                 <div class="col"><input type="text" name="img5"  class="form-control my-input" id="img5" placeholder="Imagen#5"></div>
                              </div>
                           </div>
                           <div class= "dropdown-divider"> </div>
                        </div>
                     </div>
                     <div class="separador"></div>
                     <div class= "dropdown-divider"> </div>
                     <div>
                        <button type="submit" class=" btn btn-block send-button tx-tfm">Editar producto</button>
                     </div>
                  </form>
                  
               </div>
            </div>
         </div>       
      </div>
      <div class= "dropdown-divider"> </div>
      <div class="row">
         <div class="container">
            <div class="col">
               <div class="text-center">
                  <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" name="delete-product">
                     <input type="hidden" name="_method" value="PUT" >
                     <button type="submit" class="btn btn-danger del-btn">Eliminar producto</button>
                  </form> 
                  <%} %>
               </div>
               <div class= "dropdown-divider"> </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Footer -->
   <%- include partials/footer %>
</body>
</html>
