<!DOCTYPE html>
<html lang="en">
   
   <%- include partials/head %>

<body>
    <!-- NavBar -->
    <% if (typeof locals.user != 'undefined') {
      %> <%- include partials/usernavbar %> <%
    } else { %> 
    <%- include partials/navbar %>
    <% } %>



    <div class="container">
      <div class="col-12 mx-auto text-center">
         <div class="header-title">
            <h1 class="wv-heading--title">
               Edite la información que deba ser modificada
            </h1>
         </div>
      </div>
      <div class="row">
         <div class="container">
            <div class="col-12 mx-auto">
               <div class="myform form">
                  <form action="/products/edit/<%=product.id%>"  name="edit-product" method="POST">
                     <input type="hidden" name="_method" value="PUT" >
                     <div class="row">
                        <div class="col">
                           <div class="form-group">
                              <label for="name">Nombre del Producto</label>
                              <input type="text" name="name"  class="form-control my-input" value= "<%= product.name%>" id="name" placeholder="Ej: Escapada romántica">
                           </div>
                           <div class="form-group">
                              <label for="price">Valor/Precio</label>
                              <input type="text" name="price"  class="form-control my-input" value= "<%= product.price%>" id="price" placeholder="Ej: 1250">
                           </div>
                           <div class="form-group">
                              <label for="category">Categoría</label>
                              <select name="category"  class="form-control my-input" id="category" placeholder="Escapada">
                                 <% categories.forEach( category => {%>
                                    <% if (category.id == product.categories_id) { %>
                                       <option value = "<%=product.category.id%>" selected>
                                          <%=product.category.category%>
                                      </option>                                   
                                       <%} else { %>
                                          <option value = "<%=category.id%>">
                                             <%=category.category%>
                                         </option> 
                                          <% } %>                                                        
                                <% }) %>
                            </select>
                           </div>

                           <div style="position:relative;">
                              <img src="<%=product.img%>" width="150" height="100" alt="#">
                              <a class='btn btn-primary' href='javascript:;'>
                                  Editar imagen #1 
                                  <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' id="img" name="img" size="40"  value= "<%=product.img%>" onchange='$("#upload-file-info").html($(this).val());'>
                              </a>
                              &nbsp;
                              <span class='label label-info' id="upload-file-info"></span>
                          </div>
                          <div class= "dropdown-divider"> </div>
                          <div style="position:relative;">
                           <img src="<%=product.img2%>" width="150" height="100" alt="#">
                              <a class='btn btn-primary' href='javascript:;'>
                                 Editar imagen #2
                                  <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' id="img2" name="img2" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                              </a>
                              &nbsp;
                              <span class='label label-info' id="upload-file-info"></span>
                          </div>
                          <div class= "dropdown-divider"> </div>
                          <div style="position:relative;">
                           <img src="<%=product.img3%>" width="150" height="100" alt="#">
                              <a class='btn btn-primary' href='javascript:;'>
                                 Editar imagen #3
                                  <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' id="img3" name="img3" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                              </a>
                              &nbsp;
                              <span class='label label-info' id="upload-file-info"></span>
                          </div>
                          <div class= "dropdown-divider"> </div>
                          <div style="position:relative;">
                           <img src="<%=product.img4%>" width="150" height="100" alt="#">
                              <a class='btn btn-primary' href='javascript:;'>
                                 Editar imagen #4
                                  <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' id="img4 "name="img4" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                              </a>
                              &nbsp;
                              <span class='label label-info' id="upload-file-info"></span>
                          </div>
                          <div class= "dropdown-divider"> </div>
                          <div style="position:relative;">
                           <img src="<%=product.img5%>" width="150" height="100" alt="#">
                              <a class='btn btn-primary' href='javascript:;'>
                                 Editar imagen #5
                                  <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' id="img5 "name="img5" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                              </a>
                              &nbsp;
                              <span class='label label-info' id="upload-file-info"></span>
                          </div>

                        </div>
                        <div class="col">
                           <div class="form-group">
                              <label for="location">Ubicación</label>
                              <select name="location"  class="form-control my-input" id="location">
                                 <% locations.forEach(location => {%>
                                    <% if (location.id == product.location_id) { %>
                                       <option value = "<%=location.id%>" selected>
                                          <%=product.location.location%>
                                      </option>                                   
                                       <%} else { %>
                                          <option value = "<%=location.id%>">
                                             <%=location.location%>
                                         </option> 
                                          <% } %>                                                        
                                <% }) %>
                            </select>
                           </div>
                           <div class="form-group">
                              <label  for="description">Descripción</label>
                              <textarea type="text" name="description"  class="form-control my-input" value= "<%= product.description%>" id="description"  rows="3"><%=product.description%></textarea>
                           </div>
                           <div class="text-center ">
                              <button type="submit" class=" btn btn-block send-button tx-tfm">Editar producto</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-5">
            <div class="container">
               <div class="col-12 mx-auto">
                  <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" name="edit-product">
                  <div class="text-center ">
                     <button type="submit" class=" btn btn-danger">Eliminar producto</button>
                  </div>
                  </form>
               </div>
            </div>
      </div>
   </div>

   <!-- Footer -->
   <%- include partials/footer %>
</body>
</html>
