<!DOCTYPE html>
<html lang="en">

  <%- include partials/head %>

<body>
  
  <!-- NavBar -->
  <% if (typeof locals.user != 'undefined') {
    %> <%- include partials/newUserNavbar %> <%
  } else { %> 
  <%- include partials/navbar %>
  <% } %>

  <!--Shopping Cart-->

  <div class="pb-5">
    <div class="container">
      <div class="row py-5 p-4 bg-white">
        <div class="col-lg-12">
          <%if(cart.products.length > 0) {%>
          <!--Shopping cart table-->
          
          <div>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <a href="/products"><strong>Seguí conociendo nuestras experiencias</strong></a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0">
                    <div class="p-2 px-3 text-uppercase">Experiencia</div>
                  </th>
                  <th scope="col" class="border-0">
                    <div class="py-2 text-uppercase">Precio unitario</div>
                  </th>
                  <th scope="col" class="border-0">
                    <div class="py-2 text-uppercase">Participantes</div>
                  </th>
                  <th scope="col" class="border-0">
                    <div class="py-2 text-uppercase">Subtotal</div>
                  </th>
                  <th scope="col" class="border-0">
                    <div class="py-2 text-uppercase">Remover</div>
                  </th>
                </tr>
              </thead>
            
              <tbody>
                <% cart.products.forEach(product => { %>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="<%=product.img%>" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <% let category = categories.find(category => category.id == product.categories_id)%>
                        <h5 class="mb-0"> <a href="/products/detail/<%=product.id%>" class="text-dark d-inline-block align-middle"><%=product.name%></a></h5><span class="text-muted font-weight-normal font-italic d-block">Categoría: <%=category.category%></span>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 text-center"><strong>$ <%=product.cartProduct.unit_price%></strong></td>
                  <td class="border-0 text-center"><strong><%=product.cartProduct.quantity%></strong></td>
                  <td class="border-0 text-center"><strong>$ <%=product.cartProduct.subtotal%></strong></td>
                  <td class="border-0 text-center">
                    <strong>
                        <form method="POST" action="/carts/<%=product.id%>?_method=DELETE">
                          <button class="shopping-cart-trash" type="submit" name="_method" value="DELETE"><i class="fa fa-trash"></i></button>
                        </form>
                    </strong>
                  </td>         
                
                </tr>
                <% }) %>
              </tbody>
            </table>

            

            

          </div>
          <%} else {%>
          <div>
            <h4>Tu carrito está vacío</h4>
            <a href="/products">Seguir comprando</a>
          </div>
          <%}%>
      </div>

      <div class="row py-5 p-4 bg-white">
        <div class="col-lg-6">
          <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">¿Tenés un Cupón de Descuento?</div>
          <div class="p-4">
            <p class="font-italic mb-4">Por favor, ingresá el código del Cupón de Descuento.</p>
            <div class="input-group mb-4 border p-2">
              <input type="text" placeholder="Tu cupón..." aria-describedby="button-addon3" class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-dark px-4 "><i class="fa fa-gift mr-2"></i>Aplicar Cupón</button>
              </div>
            </div>
          </div>
          <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">¿Tenés alguna necesidad especial para informarnos?</div>
          <div class="p-4">
            <p class="font-italic mb-4">Por favor, si tenés alguna necesidad especial que quieras informarnos, te agradeceremos hacerlo ahora, para poder ofrecerte la mejor experiencia.</p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Tu Compra </div>
          <div class="p-4">
            <p class="font-italic mb-4">Los impuestos y gastos de envío son calculados en forma automática de acuerdo a tu domicilio postal.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Costo Subtotal </strong><strong>$390.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Gastos de envío</strong><strong>$10.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Impuestos</strong><strong>$0.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Costo Total</strong>
                <h5 class="font-weight-bold">$400.00</h5>
              </li>
            </ul><a href="#" class="btn btn-dark py-2 btn-block">Proceder al pago</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/Shopping Cart-->

  <!-- Footer -->
  <%- include partials/footer.ejs %>

</body>
</html>
  
  
  
  
  
