<!DOCTYPE html>
<html lang="en">

   <%- include partials/head %>
<body>

  <!-- NavBar -->
  <%- include partials/newUserNavbar %>

<!-- Register Content -->
<% if (typeof errors != 'undefined') { %>
   <p style="color:red">ERROR</p>
   <ul>
      <% for (let i =0; i < errors.length; i++){ %>
         <li>
            <%=errors[i].msg%>
         </li>
      <% } %>
   </ul>
<% } %>



<div class="container pt-5">
   <div class="row">
    <div class= "col-md-6 col-sm-6 mb-3">
         <div class="header-title">
            <h1 class="wv-heading--title">
               Gracias por registrarte!
            </h1>
            <h2 class="wv-heading--subtitle">
               Completar tu perfil nos ayuda a brindarte una experiencia personalizada, a la medida de tus gustos y búsquedas.
            </h2>
         </div>
      </div>
     <div class= "col-md-6 col-sm-6 mb-3">
      <div class="form">
            <form class="" action="/users/edit-profile"  name="profile-picture" method="POST" enctype="multipart/form-data">
               <%= typeof msg != 'undefined' ? msg : '' %>
                  <div class="form-group">
                     <% if (image != null || image!= 'undefined') { %>
                        <img class="profile_img" src="<%= image %>"> 
                        <label for="profile-picture">Actualizar Imagen de Perfil</label>
                     <% } else { %>
                        <span>Cargar Imagen de Perfil</span>
                     <% } %>
                     <input type="file" name="profile-picture" id="profile-picture" accept="image/gif,image/jpeg,image/jpg,image/png">
                  </div>
                  <div class="img-load text-center">
                  <button type="submit" class="btn btn-secondary">Cargar imagen!</button>
                  </div>
            </form>
         </div>
         <div class="myform form ">
         <form action="/users/edit-profile?_method=put"  name="register" method="POST">
            <input type="hidden" name="_method" value="PUT" >
            <div class="form-group">
                <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Nombre" value="<%= user.name ? user.name : '' %>">
             </div>
             <div class="form-group">
                 <input type="text" name="surname"  class="form-control my-input" id="surname" placeholder="Apellido" value="<%= user.surname ? user.surname : '' %>">
              </div>
             <div class="form-group">
              <input type="email" name="email"  class="form-control my-input" id="email" placeholder="eMail" value="<%= user.email ? user.email : '' %>">
             </div>
             <div class="form-group">
              <input type="number" min="0" name="phone" id="phone"  class="form-control my-input" placeholder="Teléfono" value="<%= user.phone ? user.phone : '' %>">
             </div>
             <div class="text-center ">
              <button type="submit" class="btn btn-block send-button tx-tfm">Cargar mis datos!</button>
             </div>
             <div class= "dropdown-divider"> </div>
             <p class="small mt-3">Al registrarte, nos indicas que has leído y aceptado nuestros <a href="#" class="ps-hero__content__link">Términos y Condiciones de Uso</a> y nuestra <a href="#">Política de Privacidad</a>.
             </p>
            </form>
        </div>
      </div>
      </div>
</div>
</div>
    



  <!-- Footer -->
  <%- include partials/footer.ejs %>

</body>



</html>
